# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
elfGetArg

# Build directories
bin/
build/
out/

# Go module
vendor/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.iml

# Temporary files
*.tmp
*.log

# Tests files
test/